
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #202020">
      <!-- Grid container -->
      <div class="container">
        <!-- Section: Links -->
        <section>
          <!-- Grid row-->
          <div class="row text-center d-flex justify-content-center pt-5">
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="/about" class="text-white">About</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="/allblogs" class="text-white">Products</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-white">Heritages</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-white">Help</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-white">Contact</a>
              </h6>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row-->
        </section>
        <!-- Section: Links -->
  
        <hr class="my-5" />
  
        <!-- Section: Text -->
        <section class="mb-5">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              
                <p>Explore the Beauty of Tradition
                  Discover and support local artisans. Our marketplace brings you closer to the rich heritage of India's crafts.
                  Stay Connected
                  Follow us on social media for the latest updates on new arrivals, artisan stories, and more.</p>
              
            </div>
          </div>
        </section>
        <!-- Section: Text -->
  
        <!-- Section: Social -->
        <section class="text-center mb-5">
          
          <a href="https://www.instagram.com/arts_by_taiyo/" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/in/aditya-sharma-422k5/" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://github.com/AdityaSharma425" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </section>
        <!-- Section: Social -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2024 Copyright:
        <a class="text-white" href="/"
           >ArtisanRoots</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
 