<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>About</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="containerabout">
        <div class="row">
            <div class="col-md-6">
                <h1 class="aboutTitle">About Us</h1>
                <p>
                    Welcome to ArtisanRoots, an online destination where cultural heritage comes to life through artisanal crafts. We connect skilled artisans from around the world with those who value authenticity and craftsmanship, offering a curated selection of handmade textiles, pottery, jewelry, and more. Each piece tells a story of tradition and cultural significance, preserving ancient techniques while supporting local communities. By choosing ArtisanRoots, you're not just buying a product—you're helping to keep these timeless crafts and the cultures behind them alive for future generations.</p>
            </div>
            <div class="col-md-6">
                <img src="https://i.pinimg.com/564x/f9/cb/32/f9cb324a9e225d3085a641936873fa14.jpg" class="img-fluid">
            </div>

            <div class="d-flex">
                <a href="https://www.instagram.com/arts_by_taiyo/" class="text-black me-4">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/in/aditya-sharma-422k5/" class="text-black me-4">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/AdityaSharma425" class="text-black me-4">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>

    <%- include('./partials/scripts.ejs') %>

</body>
</html>