<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>About</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="container6">
        <div class="row">
            <div class="col-md-6">
                <h1>About Us</h1>
                <p>
                    Welcome to BlogByte, your go-to platform tailored for university students seeking a dynamic hub of knowledge and creativity. At BlogByte, we foster a vibrant community where students can explore diverse topics, share insights, and engage in meaningful discussions. Whether you're delving into academic pursuits, discovering new hobbies, or navigating campus life, our platform offers a wealth of resources and perspectives to enrich your university journey. Join us as we cultivate a space where ideas flourish and connections thrive. Explore, learn, and inspire with BlogByte.</p>
            </div>
            <div class="col-md-6">
                <img src="https://i.pinimg.com/564x/f9/cb/32/f9cb324a9e225d3085a641936873fa14.jpg" class="img-fluid">
            </div>

            <div class="d-flex">
                <a href="https://www.instagram.com/rizzwiz.karma/" class="text-black me-4">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/in/rishabh-vishwakarma-038b4a252/" class="text-black me-4">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/Ris-git" class="text-black me-4">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>

    <%- include('./partials/scripts.ejs') %>

</body>
</html>