@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  /* background-color: #000000;
  background-image: url('bg.jpg'); */
  background-repeat: repeat;
background-size: 30%;
  background-attachment: fixed;
  background-position: center;
  background-image: url("backdrop.jpg");k
}

.pfp {
  border-radius: 100px;
}

#viewBlog {
  background-color: rgb(255, 217, 0);
  color: black;
  padding: 0.5rem 1rem;
  border: 2px solid rgb(255, 217, 0);
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: scale 0.2 ease;
  
}

.addtocart{
  background-color: rgb(233, 224, 174);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.addtocart:hover{
  background-color: rgb(63, 61, 51);
  color: white;
}

#createBlog {
  background-color: rgb(255, 217, 0);
  color: black;
  padding: 0.5rem 1rem;
  
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
  transition: scale 0.2 ease;
}

#createBlog:hover {
  background-color: rgb(179, 179, 179);
  color: black;
}

.deleteIcon:hover{
  color: red;

}

.editIcon:hover{
  color: rgb(105, 5, 187);

}
#logoutBtn {
  background-color: rgb(255, 0, 43);
  color: white;
  padding: 0.5rem 1rem;
  
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
  transition: scale 0.2 ease;
}

#logoutBtn:hover {
  background-color: rgb(206, 206, 206);
  color: rgb(255, 0, 43);
}

select {
  padding: 0.2rem 0.8rem;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  transition: border-color 0.2s ease;
}

select:hover {
  border-color: rgb(255, 217, 0);
}

#viewBlog:hover {
  color: rgb(255, 217, 0);
  background-color: rgb(10, 10, 10);
  border: 2px solid rgb(10, 10, 10);
}

.class1 {
  background-attachment: fixed;
  width: 100%;
  height: 94vh;
  position: inherit;
  
  margin: 0 auto;
  /* Add this line to center the element */
}

.recent{
  color: white;
  background-color: black;
  border-radius: 20px;
  max-width: fit-content;
  padding: 10px;

  

}

.recent:hover{
  background-color: rgb(255, 217, 0);
  color: black;
}

.title{
  color: white;
  background-color: black;
  border-radius: 20px;
  max-width: fit-content;
  padding: 10px;
}
.title:hover{
  background-color: rgb(255, 217, 0);
  color: black;
}


.dashboardTitle{
  color: white;
  background-color: black;
  border-radius: 18px;
  max-width: fit-content;
  padding: 10px;
}

.dashboardTitle:hover{
  background-color: rgb(255, 217, 0);
  color: black;
}

.aboutTitle{
  color: white;
  background-color: black;
  border-radius: 20px;
  max-width: fit-content;
  padding: 10px;
}

.aboutTitle:hover{
  background-color: rgb(255, 217, 0);
  color: black;
}


.class2 {
  background-color: transparent;
  color: black;
  height: 10vh;
  width: 100%;
}

.class3 {
  background-image: url(bg.jpg);
  background-attachment: fixed;
  width: 100%;
  height: 80vh;
  
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

.carousel-caption {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.carousel-caption h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.carousel-caption p {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
}

a:hover {
  color: rgb(114, 4, 187);
}

header {
  position: relative;
  padding: 0 2rem;
  background-color: rgb(0, 0, 0);
  z-index: 9999;
  float: top;
}

.prodtitle{
  margin-left: 5vh;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  background-attachment: fixed;

  
}

/* .navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    background-attachment: fixed;
    
  } */

.blockk{
  height: 5vh;
  width: 100%;
  margin-top: 0px;
  display: inline-block;
}

.blogCategory{
  color: rgb(0, 0, 0);
  /* background-color: rgb(255, 217, 0);
  border-radius: 15px; */

  max-width: fit-content;
  padding: 5px;
  margin: 5px;
  float: left;
  z-index: 9999;

}


.container5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  margin: auto;
  width: 220px;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.842);
  border-radius: 25px;
  

  margin-top: 10px;
  -webkit-box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.1);
  float: right;
  margin-right: 260px;
}
.card{
  box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.1);
}

.login{
  color: white;
  float: right;
  margin-left: 20vh;
}

.bgdrop{
  background-image: url("bgdrop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  width: 100%;


}

.containeredit {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* Align to the right side */
  justify-content: flex-start;
  /* Align to the top */
  padding: 10px 25px;
  margin: auto;
  width: 120px;
  height: 90px;
  background-color: rgba(233, 233, 233, 0.842);
  border-radius: 25px;
  margin-right: 60px;
  margin-top: 10px;
  -webkit-box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.1);
  float: right;
  margin-right: 120px;
  z-index: 9999;
}


.search {
  padding-left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 280px;
  height: 54px;
  background-color: white;
  border-radius: 25px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  position: absolute;
  margin-top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.search2 {
  padding: 10px 25px;
  display: flex;
  align-items: center;
  margin: auto;
  width: 180px;
  height: 64px;
  background-color: white;
  border-radius: 25px;
  margin-right: 60px;
  align-self: flex-start;
  -webkit-box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.1);
}

.filterbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  background-color: #565656b4;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

#search_form2 {
  width: 60px;
}

.filterbtn:hover {
  background-color: #fad500;
  color: black;
}

.search_box {
  padding-top: 100px;
}

.select_area {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  font-weight: medium;
  width: 30px;
  border: none;
}

.text {
  padding-left: 15px;
}

.search_text {
  width: 50px;
  border: none;
  margin-left: 15px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  font-weight: Regular;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: black;
}

.text_and-icon {
  width: 200px;
  display: flex;
  align-items: center;

}

.search_icon {
  color: #000000;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  /** Chrome & Safari **/
  -moz-transition: all 0.6s ease-in-out;
  /** Firefox **/
  -o-transition: all 0.6s ease-in-out;
  /** Opera **/

}

.search_text:focus {
  outline: none !important;
}

.search_text:focus+.search_icon {
  color: #ffffff;
  transform: translate(35px, 0);
  -webkit-transform: translate(55px, 0);
  -o-transform: translate(55px, 0);
  -moz-transform: translate(55px);
}


.second{
  display: inline-block;
}

.second1{
  float: left;
}

.second2{
  float: right;
  text-align: right;
  max-width: 70vh;
}

.para{
  text-align: left;
  margin-left: 20vh;
}
.wrapper2 {
  width: 100%;
  max-width: 31.25rem;
  margin: 6rem auto;
  float: right;
}

.blogpagetitle{
  position: absolute;
  margin-left: 20vh;
  max-width: 10rem; 
  color: rgb(0, 0, 0);
  font-size: 4rem;
  padding: 20px;
  margin-top: 10px;
  text-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  
  
}
.blogpageprice{
  position: absolute;
  margin-left: 40vh;
  max-width: 10rem; 
  color: rgb(0, 0, 0);
  font-size: 2rem;
  padding: 20px;
  margin-top: 10vh;
  /* text-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); */
  
  
}

.wrapper3 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 31.25rem;
  margin: 6rem auto;
  z-index: 9999;
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;

}



.homeBlogTitle {
  text-shadow: 0 0 2px black;
}

.homeBlogBody{
  font-style: italic;
  color: white;
  margin-top: 70vh;
  font-size: 2rem;
  z-index: 9999;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: 400;
  max-width: 80vh;
  text-align: center;
  margin-left: 60vh;
}

#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

.text-white:hover {
  color: rgb(255, 217, 0);

}
#searchQuerySubmit:hover {
  cursor: pointer;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 253, 253);
}


.navbar .links {
  display: flex;
  gap: 2rem;
}

.links a {
  position: relative;
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
  
}

.links a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: rgb(255, 196, 0);
  transition: 0.3s;
}

.links a:hover::before {
  width: 100%;
}

.links a:hover {
  color: rgb(255, 196, 0);
  font-weight: bold;
}

.links a :active {
  color: rgb(255, 217, 0);
}

.navbar .toggle_btn {
  color: #ffffff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: none;
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  border: 2px solid rgb(255, 196, 0);
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 196, 0);
  /* border: 2px solid rgb(76, 2, 138); */
}

.action_btn:active {
  transform: scale(0.95);
}

@media (max-width: 992px) {

  .navbar .links,
  .action .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu .action_btn {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

section#hero {
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: #fff;
  margin-top: 20px;
}

.dropdown_menu {
  display: none;
  position: fixed;
  z-index: 9999;

  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(154, 196, 236, 0.6);
  backdrop-filter: blur(30px);
  border-radius: 20px;
  overflow: hidden;
  padding: 5px;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu.open {
  height: 210px;
  display: block;
}

.errorBox {
  background-color: #f8d7da;
  color: #721c24;
  padding: 0.8rem 1.2rem;
  border: 2px solid #f5c6cb;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
  transition: scale 0.2 ease;
  top: 10rem;

  right: 52rem;
  position: fixed;
}

.blogcontent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown_menu .action_btn {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

.dropbtn {
  background-color: rgb(66, 66, 66);
  color: rgb(255, 217, 0);
  position: relative;
  font-size: 14px;
  border: none;
  font-weight: 500;
  border-radius: 20px;
  padding: 0.3rem 0.5rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;

  border-radius: 20px;
  min-width: 160px;
  margin-top: 0;
  background-color: rgb(27, 27, 27);
  backdrop-filter: blur(10px);
  z-index: 1;
}

.container10{
  max-width: 900px;
  margin: 0 auto;
  
  background-color: rgba(255, 255, 255, 0.842);
  color: white;
  top: 0;
  border-radius: 20px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  float: right;
  right: 20px;
  
  height: auto;
  color: rgb(0, 0, 0);
  max-height: fit-content;
}


.container10 h5{
  color: white;
  border-radius: 20px 20px 0 0 ;

  background-color: black;
  padding: 20px;
  
}

  .table {
    width: auto;
    border-collapse: collapse;
  }

  .table td,
  .table th {
    border: none;
  }


.container11{
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 2rem;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  height: 110vh;
  margin-bottom: 20px;

}
.container1 {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  margin-top: 2rem;
  background-color: #ffffff;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  margin-bottom: 20px;
}

.container1 label{
  font-weight: bold;
}

.container1 input{
  border: 2px solid #ccc;
}

.container1 select{
  border: 2px solid #ccc;
}

.container1 textarea{
  width: 100%;
  height: 60vh;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 16px;
  resize: none;
}

.cancelbtn{
  font-weight: 500;
  border-radius: 20px;
  padding: 0.3rem 0.5rem;
  background-color: none;
  color: black;
  cursor: pointer;
  width: 90px;
  border: none;
}

.cancelbtn:hover{
  color: red;
}
.container2 {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 2rem;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  max-height: max-content;
}
.container4 {
  width: 100vh;
  margin: 0 auto;
  padding: 20px;
  margin-top: 2rem;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  float: left;
  margin-left: 260px;

}

.footerCss{
  float:inline-end;

  width: 100%;
  margin-top: 20px;
}

.container7 {
  padding: 10px;
  margin-top: 2rem;
  background-color: rgb(255, 255, 255);
  /* border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
  height: 700px;
  border-radius: 30px;
  backdrop-filter: blur(10px);
  max-width: 1400px;
  box-shadow: 0 2px 10px rgb(0, 0, 0);
  margin: 20px auto;
}

.carouselImgs{
  width: 100%;
  height: 94vh;
}

.hlogin{
  background-color: transparent;
}


.deletebtn {
  font-weight: 500;
  border-radius: 20px;
  padding: 0.3rem 0.5rem;
  background-color: none;
  color: black;
  cursor: pointer;
  width: 90px;
}

.deletebtn:hover {
  color: #ff5555;
}

.price{
  font-family: "Atlas Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  display: inline-block;

}

.paragraph2 {
  line-height: 1.5;
  color: #333;
  margin-bottom: 1rem;
  font-family: Academica Book Pro;
  font-size: 18px;
  line-height: 30.8px;
  text-align: right;
  margin-left: 500px;
  max-width: 900px;
  height:auto
  
}

.editbtn {
  font-weight: 500;
  border-radius: 20px;
  padding: 0.3rem 0.5rem;
  background-color: #323232;
  color: #fff;
  cursor: pointer;
  width: 90px;
}

.editbtn:hover {
  background-color: rgb(255, 217, 0);
  color: black;
}

.container9 {
  max-width: 40vh;
  margin: 0 auto;
  padding: 20px;
  margin-top: 0.2rem;
  align-items: left;
  float: left;
  font-family: Arial, sans-serif;
  color: #000000;
  border-radius: 20px;
  
  padding-top: 0;
 
}

.publisher{
  font-family: "Atlas Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 1.1rem;

}


.dashboardImg {

  width: 25%;
  height: auto;


  border-radius: 10px;

}

th {
  background-color: #f5f5f5;
  color: black;
}

td {
  background-color: #f5f5f5;
  color: black;
}

.tableImg {
  width: 50%;
  height: auto;

  /* Remove the space between cells */
}

.userProfile{
  margin: 0 auto;
  background-color: #000;
  color: white;
  border-radius: 20px;
  padding: 20px;
  width: 28%;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
}
.dashboard{
  right: 0;
  float: right;
}


.dashboardPfp{
  width: 30%;
  height: auto;
  border-radius: 100px;
  margin-bottom: 10px;
}
.container8 {
  margin: 0 auto;

  margin-top: 2rem;
  background-color: #f5f5f5;
  /* border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;

  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
}

.containerabout {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 2rem;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  margin-bottom: 5rem;
}






.container6 {
  max-width: 1200px;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 2rem;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  float: left;
  margin-left: 260px;
}

.fa-solid fa-comments{
  size: 20px;
}

.container3 {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 2rem;
  background-color: #1d1d1d;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: white;
  height: auto;
  margin-bottom: 20px;
  margin-left: 252px;
  width: 100%;
  
}

.thread{
  display: flex;
  flex-direction: row;
}

.coverImg{
  width: 50%;
  height: auto;
  border-radius: 20px;
}

.blogdate{
  font-family: "Atlas Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(0, 0, 0);
  margin-left: 720px;
}

.blogcoverimg {
  width: auto;
  height: 70vh;
  
  display: flex;
  
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
  mix-blend-mode: soft-light(0.9);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.comment {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 2rem;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: black;
  display: flex;
  flex-direction: row;
  height: auto;
}

.TopBtn{
  margin-top: auto;
  margin-right: 20px;
}
.commentname{
  display: flex;
  flex-direction: column;
  gap: 15px;
  row-gap: 2px;
}

.commentinfo{
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-left: 10px;

}
.addcomment{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  
  width: auto;
  height: auto;

}

.addcomment .pfp{
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.commentBtn{
  background-color: rgb(255, 217, 0);
  color: black;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 2.8rem;
 
  

}

.back-to-top{
  float: right;
  margin-right: 20px;
  background-color: black;
  color: rgb(255, 217, 0);
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  width: auto;
  margin-bottom: 20px;



}

.container15{
  display: flex;
  flex-direction: row;
}

.thread{
  width: 100%;
}


.back-to-top:hover{
  background-color: rgb(255, 217, 0);
  color: black;
}

.commentInput{
  background-color: rgb(243, 238, 238);
  color: black;
  border-radius: 100px;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Atlas Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.commentBtn:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 217, 0);

}
.commentpara{
  font-family: "Atlas Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  margin-left: 15px;

}

.comment  .pfp{
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.form-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0069d9;
}

.text-center {
  text-align: center;
}

.row-cols-1 {
  flex-direction: column;
}

.row-cols-md-3 {
  flex-wrap: wrap;
}

.g-4 {
  gap: 1rem;
}

.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.col {
  flex: 1 0 33.333333%;
  max-width: 33.333333%;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.card:hover{
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.175);
  scale: 1.05;
}
.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card-body {
  flex-grow: 1;
  padding: 1rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 1rem;
  color: #6c757d;
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.d-flex {
  display: flex;
}

.justify-content-around {
  justify-content: space-around;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 6px 12px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  margin-right: 20px;
  margin-top: 0;
}

.dropdown-content a:hover {
  background-color: transparent;
  color: rgb(255, 217, 0);
}

.dropdown:hover .dropdown-content {
  display: block;
  position: fixed;
  z-index: 9999;
}

.logout {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.dropdown:hover .dropbtn {
  color: black;
  background-color: rgb(255, 217, 0);
}

.dropbtn:hover {
  color: black;
  background-color: rgb(255, 217, 0);
}

/* POPPINS FONT */

.wrapper {
  background: transparent;
  padding: 0 20px 0 20px;
  margin-top: 2px;
  
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.side-image {
  background-image: url("signup.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 0 0 10px;
  position: relative;
  opacity: 0.9;
}

#getstarted {
  width: 900px;
  height: 550px;
  border-radius: 10px;
  background: #fff;
  padding: 0px;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text p {
  color: #fff;
  font-size: 20px;
}

i {
  font-weight: 400;
  font-size: 15px;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.input-box {
  width: 330px;
  box-sizing: border-box;
}

img .signupPage {
  width: 35px;
  position: absolute;
  top: 30px;
  left: 30px;
  background-image: url("bg.jpg");
}

.input-box header {
  font-weight: 700;
  text-align: center;
  margin-bottom: 35px;
}

.input-field {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 10px 0 10px;
}

.input {
  height: 45px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  margin-bottom: 20px;
  color: #40414a;
}

.input-box .input-field label {
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  transition: 0.5s;
}

.input-field input:focus~label {
  top: -10px;
  font-size: 13px;
}

.input-field input:valid~label {
  top: -10px;
  font-size: 13px;
  color: #5d5076;
}

.input-field .input:focus,
.input-field .input:valid {
  border-bottom: 1px solid rgb(63, 61, 51);
}

.submit {
  border: none;
  outline: none;
  height: 45px;
  background: #ececec;
  border-radius: 5px;
  transition: 0.4s;
  margin-top: 20px;
}

.submit:hover {
  background: rgb(255, 217, 0);
  color: black;
}

.signin {
  text-align: center;
  font-size: small;
  margin-top: 25px;
}

span a {
  text-decoration: none;
  font-weight: 700;
  color: #000;
  transition: 0.5s;
}

span a:hover {
  text-decoration: underline;
  color: #000;
}

@media only screen and (max-width: 768px) {
  .side-image {
    border-radius: 10px 10px 0 0;
  }

  img {
    width: 35px;
    position: absolute;
    top: 20px;
    left: 47%;
  }

  .text {
    position: absolute;
    top: 70%;
    text-align: center;
  }

  .text p,
  i {
    font-size: 16px;
  }

  .row {
    max-width: 420px;
    width: 100%;
  }
}

label#profileImage {
  position: relative;
  top: 30px;
  left: 10px;
  pointer-events: none;
  transition: 0.5s;
  bottom: 50px;
}